body {
	font-family: monospace;
  }
  
.custom-green-bg {
	background-color: #20C20E;
  }

.custom-green {
  color: #20C20E;
}  
  
  .custom-green-bg:hover {
	background-color: #1A9A0B;
  }

  .custom-outline-white {
    -webkit-text-stroke: 0.5px white; /* Adjust thickness & color */
  }

  .custom-outline-green {
    -webkit-text-stroke: 0.5px #20C20E; /* Adjust thickness & color */
  }