.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.project-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  /* Ensure child absolute elements are positioned correctly */
  overflow: hidden;
  /* Prevent any unwanted overflow issues */
}

.project-slide img {
  width: 100%;
  max-height: 550px;
  /* Prevents excessive height */
  object-fit: contain;
  /* Ensures full visibility without cropping */
}

.project-info {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  /* Centering */
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

/* Titles and descriptions */
.project-info h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.project-info p {
  font-size: 1rem;
}

/* Slider Navigation */
.slick-prev,
.slick-next {
  color: white;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  z-index: 100;
  /* Ensure they appear above other elements */
  cursor: url('/cursors/cursor-pointer2.svg'), auto;
}

/* Dots styling */
.slick-dots {
  bottom: -30px;
}

.slick-dots li button {
  z-index: 101;
  border-radius: 50%;
  /* Make them round */
  color: #fff;
  /* Set dot color */
  cursor: url('/cursors/cursor-pointer2.svg'), auto;
}

.slick-dots li.slick-active button:before {
  color: #20C20E;
  /* Active dot color (green in this case) */
}

.slick-dots li button:before {
  font-size: 14px;
  border-radius: 50%;
  /* Make them round */
  cursor: url('/cursors/cursor-pointer2.svg'), auto;
}

/* Prevent slide content from getting cut off */
.slick-slide>div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slick-dots li:not(.slick-active) button:before {
  color: #1A9A0B;
  /* Color for inactive dots (light gray in this case) */
}



.slick-prev::before,
.slick-next::before {
  font-size: 30px;
  /* Adjust size */
  color: #1A9A0B;
  /* Set color */
}

.slick-prev,
.slick-next {
  color: transparent;
  /* Hide any unwanted text */
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #20C20E;
  /* Make arrows visible on hover */
  cursor: url('/cursors/cursor-pointer2.svg'), auto;
}

